:root{
  --asparagus: #87a878ff;
  --terra-cotta: #e26d5aff;
  --cyan-process: #5bc0ebff;
  --dark-blue-gray: #666a86ff;
  --snow: #fffafbff;
  --rich-black-fogra-39: #090c08ff;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  touch-action: pinch-zoom pan-y;
}


.flip-container.flip .flipper {
	transform: rotateY(180deg);
	/*transform: rotateY(180deg)  translateX(-10%); */
}


.flip-container.slide .flipper.frontcard {
    filter: brightness(90%);
    position:absolute;
    z-index: -20;
}

.flip-container.prepare .flipper.backcard {
    opacity:1;
    transition: display 0s;
    transform:  translateX(20px); 
}


.flip-container.slide .flipper.backcard {
    filter: brightness(115%);
    height: 360px;
    opacity:1;
	  transform:  rotateY(3deg)  translateX(700px) translateZ(20px) scale(1, 1.05) rotate(3deg);
    z-index: 20;
}




.flip-container.slideback .flipper.backcard {
    filter: brightness(100%);
    opacity: 1;
	  transform: translateX(0px) translateZ(20px) rotateY(0deg);
    z-index: 10;
}

.flip-container.slideback .flipper.frontcard {
    filter: brightness(90%);
    transform: translateX(0px) translateZ(-20px);
    z-index: -10;
}


.flip-container, .front, .back {
	  height: 300px;
	  width: 100%;
}




.flipper.frontcard {
    position:absolute;
	  transform: translateX(0px) rotateY(0deg) translateZ(20px);
    z-index: 10;
}

.flipper.backcard {
    filter: brightness(90%);
    opacity:0;
    position:absolute;
    transform: translateX(0px) translateZ(-20px);
    z-index: -10;
}




/* flip speed goes here */
.flipper {
    cursor:pointer;
	  height: 200px;
    margin-left:10px;
	  position: absolute;
    top: 0;
	  transform-style: preserve-3d;
	  transition: 0.6s;
    width: 95%;
}

.flashcardtext{
    color: var(--snow);
    font-size: 20pt;
    margin-left:3%;
    position:absolute;
    text-align:center;
    top: 50%;
    transform: translate(0, -50%);
    width:90%;
    font-size: 1.5em;
}


/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  left: 0;
	  position: absolute;
	  top: 0;
}

/* front pane, placed above back */
.front {
	  backface-visibility: hidden;
    background: var(--asparagus);
    transform: rotateY(0deg);
	  z-index: 2;
}

/* back, initially hidden pane */
.back {
	  backface-visibility: hidden;
    background: var(--dark-blue-gray);
	  transform: rotateY(180deg);
}

.next {
    color: var(--rich-black-fogra-39);
    cursor:pointer;
    font-size: 1.5em;
    /*left:90%; */
    margin-left: 75%;
    width: 100pt;
    height: 22pt;
    opacity:0.3;
    position:relative; 
    top:-1em;
}

.next svg {
    height:16pt;
    width:16pt;
    position:relative;
    top:-2pt;
}

.jp-OutputArea-output .next svg {
    top: 1pt;
}

.next.flipped {
    opacity:1;
}

.next.hide {
    opacity:0;
}


.flashcard{
    border-radius: 10px;
    outline: none;
    color: #fafafa;
    display:block;
    padding:10px;
  
}

@media only screen and (min-width:1000px) {
    .flip-container, .front, .back {
	      height: 300px;
	      width: 640px;
    }
    .flipper {
        cursor:pointer;
	      height: 200px;
        margin-left:20px;
	      position: absolute;
        top: 0;
	      transform-style: preserve-3d;
	      transition: 0.6s;
        width: 600px;
    }
    .flashcardtext{
        font-size: 20pt;
    }
    .next {
        font-size: 16pt;
        left:442pt;
        margin-left: 0;
        width: 100pt;
        height: 22pt;
    }
}

